@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe Manager</h1>
    <p class="lead">Recipe Manager is an website desgined to help organize the ingredients that are in your pantry. By creating an account you will be able to save all of your ingredients then based on those ingredients be able to see what dishes can be prepared.</p>
</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Shopping Lists</h2>
      
        <p>
            The grocery list is one click away when you login to your account. Just click the grocery list button and be shown a list which will show you ingredients that are low in your pantry.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Dish Creation</h2>
        <p>
            When you start inputting ingredients into CSC455 Recipe Manager, the system automatically starts comparing your ingredients to ingredients in every dish. Whenever you have enough ingredients to create a dish you can see a detailed list of all of the ingredients needed to make this dish.
        </p>
        <p>
            &nbsp;
        </p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
       
    </div>
        <a href="~/Test/Login.aspx">Login</a>
    </div>
   
   
